<table>
  <tbody>
    <tr>
      <th>Idle User Timeout</th>
      <td><input type="text" id="settings_user_indicator_idle_time" value="<%= settings['user_indicator_idle_time'] %>" name="settings[user_indicator_idle_time]" >
    </tr>
  </tbody>
</table>
